.orderitem-clientname {
  font-weight: 500;
  font-size: 1rem;
}

.history-links a {
  color: #b4b4b8 !important;
  text-decoration: none;
}

.history-links a:hover {
  color: #000 !important;
}

p {
  display: block;
}
