@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
}

.dashnav {
  width: 100%;
}
.header .profile {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(218, 165, 32, 0.6);
}
.nav-drop {
  background-color: transparent;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 500;
  position: relative;
  font-size: 0.9rem;
}
.nav-logo {
  display: flex;
  gap: 1rem;
}
/* .nav-logo img {
    width: 150px;
  } */
.dropdown-menu p {
  margin-bottom: 0;
  cursor: pointer;
}
.dropdown-menu.show {
  min-width: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left:-1rem !important; */
  border-radius: 4px !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
}
.header .dropdown-menu.show {
  padding: 0.5rem 0;
  position: relative;
}

.header {
  background-color: #252b3b !important;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.header .sidebarlogo {
  height: 45px;
  width: 100%;
}
.header .dropdown-menu a {
  text-decoration: none !important;
}
.signout {
  color: #000 !important;
  text-decoration: none !important;
}
@media (min-width: 1200px) {
  .header .logo {
    width: 230px;
  }
}
.header .logo img {
  max-height: 26px;
  margin-right: 6px;
}
.header .logo {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2px;
  font-weight: 700;
}

.dropdown-item {
  padding: 0;
}
.dropdown-toggle::after {
  color: #adb5bd !important;
}

.logout-nav {
  color: #adb5bd;
}

.nav-menu {
  font-size: 0.85rem;
  font-weight: 600;
  color: #8590a5;
  height: 70px;
}
.nav-menu.active {
  color: #fff;
}

.nav-menu:hover,
.nav-menu span {
  padding-top: 2px;
  color: #fff !important;
}
.nav-menu ::after {
  padding-top: 2px;
  color: #fff;
}

.nav-menu span {
  font-size: 1rem;
  font-weight: 600;
  color: #8590a5;
  height: 70px;
}

.header .dropdown-menu a:hover {
  background-color: #f8f9fa;
  padding: 0px 10px;
  border-radius: 3px;
}

.dropdown-item :hover {
  background-color: none;
}
.header .dropdown-menu a {
  font-size: 13px;
  color: #f30000;
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 65px;
  background-color: #fff;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  cursor: pointer;
  opacity: 0.6;
  color: #adb5bd;
}

.header .search-bar {
  width: 100%;
}
@media (max-width: 768px) {
  .dropdown-menu.show {
    padding: 0.7rem;
  }
}
@media (max-width: 426px) {
  .header .search_icon {
    display: block !important;
  }
  .header .search-form input {
    width: 100% !important;
  }
  .header .search-form input::placeholder {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .header .search-form button {
    color: #333 !important;
  }
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 1;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 65px;
    visibility: visible;
    opacity: 1;
  }
  .nav-drop {
    font-size: 0.9rem;
  }
  .dropdown-menu.show {
    padding: 0.5rem;
    font-size: 0.9rem;
    top: 5px !important;
    left: 0px !important;
  }
  .header .profile {
    width: 30px;
    height: 30px;
  }
  .header .toggle-sidebar-btn {
    font-size: 25px;
  }
  .nav-logo img {
    width: 120px;
    margin-left: -0.5rem;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  font-size: 14px;
  color: #333;
  border: none;
  padding: 10px 38px 10px 15px;
  border-radius: 25px;
  background-color: #e1e5e9;
  transition: 0.3s;
  width: 100%;
}
.header .search-form input:focus,
.header .search-form input:hover {
  outline: none !important;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
  color: #fff;
}

/*--------------------------------------------------------------
    # Header Nav
    --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: var(--bs-secondary);
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #fff;
}

.header-nav .nav-profile img {
  height: 30px;
  width: 30px;

  border-radius: 50% !important;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
  color: #536485;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-item {
  font-size: 0.7rem;
  padding: 5px 10px;
  transition: 0.3s;
  font-weight: 500;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #eee;
}

@media (min-width: 320px) and (max-width: 426px) {
  .header .sidebarlogo {
    display: none;
  }
}
