.app_btn {
  background-color: #5664d2;
  border: none;
  color: #fff;
  border-radius: 0.375rem;
  padding: 0.5rem 0.6rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9.38rem;
  /* border: 1px solid #E5D1FA; */
  text-align: center;
}
.app_btn a {
  width: 100% !important;
}
.app_btn:hover {
  background-color: #fff;
  border: 1px solid #9d76c1;
  color: #9d76c1;
  padding: 0.5rem 0.6rem;
}

.btn:hover {
  background-color: #9d76c1;
  color: #fff;
}
/* .app_btn:focus{
    background-color: #9D76C1 !important;
    color: #fff !important;
    border:none !important;
    box-shadow: none !important;
} */

.danger {
  width: 100%;
  background-color: #3652ad;
  border: 1px solid #3652ad;
}

.danger:hover {
  color: #3652ad;
  background-color: #fff;
  border: 1px solid #3652ad;
}

.success {
  background-color: #1cbb8c;
  border: 1px solid #1cbb8c;
}

.success:hover {
  color: #1cbb8c;
  background-color: #fff;
  border: 1px solid #1cbb8c;
}

.print_btn {
  background-color: darkgreen;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  font-size: 0.7rem;
}
@media (min-width: 320px) and (max-width: 431px) {
  .app_btn {
    padding: 0.4rem 0.9rem;
    font-size: 13px;
  }
}
