@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
#hamBurger {
  display: none !important;
}

html,
body {
  overscroll-behavior-x: none;
  color: var(--white);
}
.app_title {
  color: #000;
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0px 0px 10px;
  letter-spacing: 0px;
  /* font-family: sa; */
}
.app_bg {
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.edit_icon {
  color: #555;
  font-size: 1.1rem;
}
.delete_icon {
  color: #555;
  font-size: 1.1rem;
  margin-left: 10px;
}

/* react-select */
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
.css-1xc3v61-indicatorContainer {
  color: #6c757d;
}

/* hr attendance datepicker */
.attendance .react-datepicker__input-container {
  width: 100% !important;
}
.Toastify__close-button {
  display: none !important;
}
.Toastify__toast {
  min-height: 0 !important;
  padding: 8px;
  font-size: 13px;
  width: fit-content;
}
.Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}
.Toastify__toast-container {
  width: fit-content !important;
}
.Toastify--animate-icon {
  width: 13px !important;
}
